#maindivholdingaddcartbutton {
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background-color: #fe1d65;
    cursor: pointer;
}

#maindivholdingaddcartbutton:hover {
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background-color: #d21e58;
    cursor: pointer;
}

.addtocartbutton {
    padding: 10px;
    text-align: center;
}
