.maindivholdingfilter {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.gapforinputfilter {
    margin-right: 22px;
}

#searchbarforgameslandingpage {
    width: 50vw;
    text-align: center;
}

#innerdivsearchbarforgameslandingpage {
    justify-content: center;
    display: flex;
}
