.maindivholdingfilter {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

#maindivfilteredgames {
    display: flex;
}

#outterdivsearchbarforgames {
    margin-bottom: 30px;
}

#justforsmoothtransitioninfiltercategory {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 19px;
    right: -16px;
}

#styleforbuttonfiltersearch {
    height: 42px;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}

#innerdivmagnifyingglasssearchbar {
    position: relative;
    left: -23px;
    padding-top: 7px;
    padding-left: 6px;
    padding-right: 4px;
    border-left: 1px solid;
    top: 1px;
}

.fa-magnifying-glass{

}

.innerdivstarsfilteredgameslist {
    display: flex;
}

#searchbarforgameslandingpage {
    width: 32vw;
    text-align: center;
    height: 28px;
    border: solid 2px;
    border-radius: 10px;
    position: relative;
    left: 10px;
}


#innerdivlogogamenightcenterpagelandingpage {
    justify-content: center;
    display: flex;
}

#innerdivsearchbarforgameslandingpage {
    justify-content: center;
    display: flex;
    position: relative;
}

.ptagnumberofreviews {
    margin-top: 0px;
    text-wrap: nowrap;
}

#divforfiltersearchbarlandingpage {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.categoryanddownarrowfiltersearch {
    display: flex;
    align-items: center;
    gap: 9px;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
}

.ptagcategoryfiltersearch {
    margin: 0px;
}

.innerdivholdingfilter {
    position: absolute;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    top: 39px;
    left: 0px;
}

.innerdivholdingfilterplayers {
    position: absolute;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: grey;
    display: flex;
    width: 103px;
    top: 39px;
    left: 0px;
    grid-gap: 10px;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#positionforlandingpage {
    margin-left: auto;
    margin-right: auto;
}

#logoforgamenightlandingpage {

}

.innerdivplayersradio {
    border: solid 1px;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
}

.hiddenforfilterlandgingpage {
    visibility: hidden;
}

.outterdivcategorydownarrowfiltersearch {
    display: flex;
    position: relative;
    cursor: pointer;
}

#outerdivcartsinglepagetrue {
        position: absolute;
        right: 80px;
        top: 78px;
        z-index: 2;
}
