body {
    background-image: linear-gradient(to bottom right, red, #006EFF);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#maindivlandingpageall {
    display: flex;
    justify-content: center;
    margin-left: auto;
    position: relative;
    top: 0px;
}

#outterdivsearchbarforgamesnavbar {
    position: relative;
    left: -46px;
}

.outterdivcardfilteredgame {
    width: 192px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

#outerconfusedonhowtosearch {
    position: absolute;
    bottom: -26vh;
    cursor: pointer;
}

.picofgamefilteredgames {
    max-width: 100%;
    max-height: 260px;
}

#innerdivbuttonsearchfilter {
    cursor: pointer;
  }

#divhowtousegamenight {
    cursor: pointer;
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
}

#divhowtousegamenight:hover {
    cursor: pointer;
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fe1d65;
}

.gamepricecard {
    margin-top: 13px;
}

.divholdinggametagforspacingawayfrompic {
    margin-top: auto;
}

.gamenameh4tag {
    margin-bottom: 10px;
}

#outerdivmappedgames {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    grid-gap: 20px;
    gap: 20px;
    justify-content: center;
    margin: 25px;
    align-content: flex-start;
}

#justpassingdownpropshidthis {
    display: none;
}

.outterdivpicgamesfiltered {
    width: 276px;
    background-color: #c9cacc59;
    display: flex;
    justify-content: center;
    height: 414.25px;

}

.outterdivpicgamesfiltered:hover {
    width: 276px;
    background-color: #dee0e3ab;
    display: flex;
    justify-content: center;
}

.innerdivpicofgamefilteredgames {
    display: flex;
    justify-content: center;
}
