#navbarmaindiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -65px;
}

#divprofileshoppingcart {
  display: flex;
  gap: 15px;
  margin-right: 4px;
  flex-direction: row-reverse;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.fa-user-circle {
  font-size: 80px;
}

#logofornavbar {
  width: 239px;
}

.fa-cart-shopping {
  font-size: 80px;
}
