#navbarmaindiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#divprofileshoppingcart {
  display: flex;
  gap: 15px;
  margin-right: 14px;
  flex-direction: row-reverse;
  position: relative;
  top: -24px;
}

.profile-dropdown {
  position: absolute;
  right: 3px;
  background-color: aliceblue;
  border-radius: 10px;
  z-index: 1;
  top: 63px;
}

#innerdivlogoutprofiledropdown {
  background: darkgrey;
  border-radius: 10px;
}

#logoutbuttonprofiledropdown {
  padding: 5px;
  text-align: center;
}

.innerdivisgnuploginnavbar {
  padding: 10px;
}

#innerdivprofiledropdown {
  padding: 10px;
}

/* .loginsignupnavbarbutton {
  border: solid black 1px;
  border-radius: 10px;
  background-color: aliceblue;
  cursor: pointer;
  padding: 12px;
} */

#innerdivforlogonavbar {
  margin-left: 14px;
}

.hidden {
  display: none;
}

.fa-user-circle {
  font-size: 60px;
  cursor: pointer;
}

#logofornavbar {
  width: 239px;
  cursor: pointer;
}

.fa-cart-shopping {
  font-size: 60px;
  cursor: pointer;
}
