#outerdivsignuppage {
    /* border-radius: 10px; */
}

#innerdivsignuppage {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.errorsforsignuppage {
    color: red;
}

#formsignuppageinputs {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

#signuptextsignupmodal {
    margin: 0px;
    text-align: center;
}

#submitbuttonsignup {
    border: solid black 1px;
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
    padding: 12px;
}

#submitbuttonsignup:hover {
    border: solid black 1px;
    border-radius: 10px;
    background-color: rgb(211, 217, 222);
    cursor: pointer;
    padding: 12px;
}

#innerdivsignupbutton {
    display: flex;
    justify-content: center;
}
