#editreviewbutton {
    position: relative;
    left: 10px;
    top: -6px;
}

#outterdiveditstars {
    position: absolute;
    left: 0px;
    top: -2px;
    margin-bottom: 9px;
}

#divforpositioningstarsrelative {
    position: relative;
    top: 0px;
}
