#textareaforcreatereview {
    max-width: 829px;
    height: 79px;
    width: 100%;
    resize: none;
    line-height: 1.3;
    padding: 5px;
}

#submitreviewbutton {
    position: relative;
    left: 10px;
    top: -6px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background-color: #fe1d65;
    cursor: pointer;
}

#errorscreatingreview {
    color: red;
}

#outterdivpostionstarsreviewfor {
    position: absolute;
    left: 0px;
    top: -38px;
    margin-bottom: 9px;
}

#outerdivtomakerelativeforstars {
    position: relative;
    top: 0px;
}
